{% extends 'admin-layout.html.twig' %}

{% block page_header %}My Calendar{% endblock %}
{% block content %}
<div class="row">
    <div class="col-5">
        {% include 'fragments/calendar.twig' %}
    </div>
    <div class="col-7">
    <div>
</div>
{% endblock %}
